<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MilkaToday</title>
    <!-- Подключение файла стилей -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>MilkaToday</h1>
    </header>

    <div class="content">
        <p>
            Добро пожаловать в MilkaToday!
            Мы генерируем смешные картинки.
        </p>

        <img src="/static/images/milka_drink_water.jpg" alt="Пример смешной картинки">

        <p>Присоединяйтесь.</p>

        <a href="login" class="login-button">Войти</a>
    </div>
</body>
</html>